

<div class="container-fluid row">
        <nav class="navbar navbar-default">
         
        <div class="col-xs-9" class="shift">
            
         <ul class="nav navbar-nav row" >
          
           <li  class="col"> <a href="#">Notification</a></li> 
          
         <li class="col"> <a href="#">Current Trainings</a></li> 
         <li class="col"> <a href="#">Completed Trainings</a></li>
          <li class="col"> <a href="#">Edit Skills</a></li>
         <li  class="col"> <a href="#">Logout</a></li> 
        
       
         </ul>
         
          
       </div>
        
        
        </nav>
        </div>
        
    
    <div class="container" >
    <table class="table table-bordered" id="table1" width="80%" margin-top="10%">
    <thead >
        <tr>
            <td><b>ID</b></td>
            <td><b>TRAINING NAME</b></td>
            <td><b>PROGRESS</b></td>
        </tr>
    </thead>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </table>
    </div>
    