.btn {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 4px 2px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    transition: 2s;
  }
  
  .btn:hover {
    background-color: #3e8e41;
    color: white;
  }

  .btnSelect {
    border: 2px;
  }